mat-grid-tile {
  background: lightblue;
  cursor: pointer;
}

#hamburger {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 99;
}

.side-menu {
  background-color: white;
  padding: 10px;
}

video {
  width: 100%;
}
